body {
	background: #e9eef4;
	color: #1c1c1c;
	font-family: 'Merriweather', sans-serif;
	overflow: none;
}

.headerBar{
	display: flex;
	flex-direction: row;
	align-items: center;
	height: 60px;
	background-color: #e65c4f;
	color: white;
}

.titleHead{
	font-size: 16px;
	font-weight: bold;
	/* color: #1c1c1c; */
	padding-left: 24px;
	cursor: pointer;
}

.btnBar{
	font-size: 14px;
	text-transform: uppercase;
	/* color: #1c1c1c; */
	padding-left: 24px;
	cursor: pointer;
}

.container{
	padding: 24px;
	overflow-y: auto;
	display:flex;
	align-content: center;
	justify-content: center;
}

.wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 800px;
}

.H1Cont {
	font-size: 64px;
	line-height: 80px;
	text-align: center;
	font-weight: bold;
	font-family: Helvetica;
	/*text-transform: uppercase;*/
	word-break: break-word;
}

.H2Cont{
	font-size: 24px;
	line-height: 40px;
	padding-top: 16px;
	text-align: center;
	/*font-weight: bold;*/
	font-family: Helvetica;
}

.PCont{
	margin-top: 8px;
	font-size: 16px;
}

.loginCont {
	display: flex;
	flex-direction: column;
	padding: 12px;
	margin: 12px;
	background-color: #e65c4f;
	border-radius: 24px;
	color: #020A1B;
	align-items: center;
	width: 100%;
}

.instagramButton {
	width: 120px;
	height: 40px;
	background: #1c1c1c;
	border-radius: 12px;
	text-align: center;
	margin: 8px;
}

.exampleContainer{
	margin-top: 24px;
}

.exampleH1{
	margin-top: 8px;
	font-size: 16px;
}

.profileWrapper{
	display: flex;
	flex-direction: column;
	/* padding-top: 12px; */
	background-color: #326789;
	border-radius: 24px;
}

.profileHead{
	height: 96px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 8px 30px;
	background-color: #78a6c8;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
}

.profilePicture{
	border-radius: 50%;
	background-color: #585858;
	height: 72px;
	width: 72px;
}

.profileNameBox{
	display: flex;
	flex-direction: column;
	margin-left: 24px;
}

.profileName{
	font-size: 20px;
	color: #1c1c1c;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.1px;
}

.profileRole{
	font-size: 14px;
	line-height: 18px;
	font-weight: bold;
	letter-spacing: 1.1px;
}

.profileLink {
	height: 32px;
	width: 32px;
	background: #303030;
	border-radius: 4px;
	position: absolute;
	margin-left: 704px;
	background-image: url("/images/visit.png");
	background-size: 24px 24px;
	background-position: center;
	background-repeat: no-repeat;
}

.profilePostWrapper{
	display: flex;
	flex-wrap: wrap;
	align-content: space-around;
	justify-content: space-around;
}

.profilePost{
	height: 200px;
	width: 200px;
	margin: 24px;
	background-color: aliceblue;
}
