<!DOCTYPE html>
<html lang="en">

<head>
    <title>PhotograFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="headerBar">
        <div class="titleHead" onclick="location.href='/'">PhotograFinder</div>
        <div class="btnBar" onclick="location.href='/guide'">Guide</div>
        <div class="btnBar" onclick="location.href='/aboutus'">About Us</div>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="H1Cont">About Us</div>
            <div class="creatorWrapper">
                <div class="creatorElement">
                    <div class="creatorIcon"></div>
                    <div class="creatorDetails">
                        <div class="creatorName">Andrea</div>
                        <div class="creatorMatricola">1111111</div>
                    </div>
                </div>
                <div class="creatorElement">
                    <div class="creatorIcon"></div>
                    <div class="creatorDetails">
                        <div class="creatorName">Damiano</div>
                        <div class="creatorMatricola">1777777</div>
                    </div>
                </div>
                <div class="creatorElement">
                    <div class="creatorIcon"></div>
                    <div class="creatorDetails">
                        <div class="creatorName">Paolo</div>
                        <div class="creatorMatricola">1888888</div>
                    </div>
                </div>
            </div>
        </div>
</div>
</body>