<!DOCTYPE html>
<html lang="en">

<head>
    <title>PhotograFinder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="headerBar">
        <div class="titleHead" onclick="location.href='/'">PhotograFinder</div>
        <div class="btnBar" onclick="location.href='/guide'">Guide</div>
        <div class="btnBar" onclick="location.href='/aboutus'">About Us</div>
    </div>
    <div class="container">
        <div class="wrapper">
            <div class="H1Cont">Welcome to PhotograFinder</div>
            <div class="H2Cont">The Web App to help you find photographers near your area!</div>
            <div class="PCont">
                PhotograFinder uses Instagram APIs to search through a location and hashtag and show you IG Profiles. 
                Once you choose the photographer of your choice you can hit him up on IG!
                To better understand hwo to use this tool visit our Guide webpage.
            </div>
            <div class="loginCont">
                <div class="loginH1">Login using your Instagram</div>
                <div class="instagramButton"></div>
                <div class="loginH2">We will not access or store yous sensible informations, we use OAUTH v2.</div>
            </div>
            <div class="exampleCont">
                <div class="exampleH1">This is an Example Page of a search done using this tool </div>
                <div class="exampleContainer">
                    <div class="profileWrapper">
                        <div class="profileHead">
                            <div class="profilePicture"></div>
                            <div class="profileNameBox">
                                <div class="profileName">Alberto Ascari</div>
                                <div class="profileRole">Fotografo</div>
                            </div>
                            <div class="profileLink"></div>
                        </div>
                        <div class="profilePostWrapper">
                            <div class="profilePost"></div>
                            <div class="profilePost"></div>
                            <div class="profilePost"></div>
                            <div class="profilePost"></div>
                            <div class="profilePost"></div>
                            <div class="profilePost"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>